# Auto detect text files and perform LF normalization
* text=auto

# Git LFS tracking for large files
wheels/*.whl filter=lfs diff=lfs merge=lfs -text
assets/tools/vsf-cli/*.exe filter=lfs diff=lfs merge=lfs -text
assets/tools/vsf-cli/*.dll filter=lfs diff=lfs merge=lfs -text
